<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxthxy.supermarket.dao.SaleDAO">
  <sql id="Base_Column_List">
    id, scode, sname, snumber, pprice, sprice,createdBy,creationDate, modifyBy, modifyDate
  </sql>
  <select id="getsaleList" resultType="com.wxthxy.supermarket.entity.Sale" parameterType="Integer">
  	select * from smbms_sale
  	where 1=1
      <if test="scode!=''">
          and scode=#{scode}
      </if>
      <if test="sname!=''">
          and sname=#{sname}
      </if>
  	order by creationDate desc
  	limit #{page},#{limit}
  </select>


    <select id="findsaleByName" resultType="com.wxthxy.supermarket.entity.Sale" parameterType="String">
  	select *
  	from smbms_sale where sname=#{sname}
  </select>
    <!-- 按照条件查询出总记录数 -->
  <select id="getcount" resultType="Integer">
  	select count(*) 
  	from smbms_sale
  </select>
  <insert id="savesale" parameterType="com.wxthxy.supermarket.entity.Sale">
  	insert into smbms_sale(scode,sname,snumber,pprice,sprice,createdBy,creationDate) 
  	values(#{scode},#{sname},#{snumber},#{pprice},#{sprice},#{createdBy},#{creationDate})
  </insert>
  <select id="findsaleByid"  resultType="com.wxthxy.supermarket.entity.Sale">
  	select * from smbms_sale where id=#{id}
  </select>
  <delete id="deletesalebyid" parameterType="Integer">
  	delete from smbms_sale where id=#{id}
  </delete>
  <update id="updatesalebyid" parameterType="com.wxthxy.supermarket.entity.Sale">
  	update smbms_sale set sname=#{sname},snumber=#{snumber},sprice=#{sprice},modifyBy=#{modifyBy},modifyDate=#{modifyDate}
  	where id=#{id}
  </update>
</mapper>