<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxthxy.supermarket.dao.GoodsDAO">
  <sql id="Base_Column_List">
   id,gcode,gname,gnumber,pprice,createdBy,creationDate,modifyBy,modifyDate
  </sql>

  <select id="goodslist" resultType="com.wxthxy.supermarket.entity.Goods" parameterType="Integer">
  	select * from smbms_goods
  	ORDER BY creationDate DESC
		LIMIT #{page},#{limit}
  </select>
   <!-- 按照条件查询出总记录数 -->
  <select id="getcount" resultType="Integer">
  	select count(*) 
  	from smbms_goods
  </select>
  <update id="updategoodsbynumber" parameterType="com.wxthxy.supermarket.entity.Goods">
 	update smbms_goods set gnumber=gnumber-#{gnumber} where gname=#{gname}
 </update>
 
  <update id="updategoodsbynumber2" parameterType="com.wxthxy.supermarket.entity.Goods">
 	update smbms_goods set gnumber=gnumber+#{gnumber} where sname=#{sname}
 </update>
 
 <update id="updategoodsbynumber3" parameterType="com.wxthxy.supermarket.entity.Goods">
 	update smbms_goods set gnumber=#{gnumber} where sname=#{sname}
 </update>
 
  <insert id="savegoods" parameterType="com.wxthxy.supermarket.entity.Goods">
  	insert into smbms_goods(gcode,gname,gnumber,pprice,createdBy,creationDate,sname,gunit)
  	values(#{gcode},#{gname},#{gnumber},#{pprice},#{createdBy},#{creationDate},#{sname},#{gunit})
  </insert>
  <select id="findgoodsbyid" parameterType="Integer" resultType="com.wxthxy.supermarket.entity.Goods">
  	select * from smbms_goods where id=#{id}
  </select>
  <update id="updategoodsbyid" parameterType="com.wxthxy.supermarket.entity.Goods">
  	update smbms_goods set gcode=#{gcode},
  	gname=#{gname},gnumber=#{gnumber},pprice=#{pprice},modifyBy=#{modifyBy},modifyDate=#{modifyDate}
  	where id=#{id}
  </update>
  <delete id="deletegoodsbyid" parameterType="Integer">
  	delete from smbms_goods where id=#{id}
  </delete>
    <select id="findgoodsbygname" resultType="com.wxthxy.supermarket.entity.Goods">
  	select * from smbms_goods where gname=#{gname}
  </select>
   <delete id="deletegoodsbydname">
  	delete from smbms_goods where gname=#{gname}
  </delete>
</mapper>