<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxthxy.supermarket.dao.RoleDAO">
    <sql id="Base_Column_List">
		id, roleCode, roleName, createdBy, creationDate, modifyBy,
		modifyDate
	</sql>
    <!-- 获取所有的角色列表 -->
    <select id="getRoleList" resultType="com.wxthxy.supermarket.entity.Role" parameterType="Integer">
		select * from smbms_role
		limit #{page},#{limit}
	</select>
    <select id="getCount" resultType="Integer">
		select count(*) from smbms_role
	</select>
    <!-- 添加角色信息 -->
    <insert id="addrole" parameterType="com.wxthxy.supermarket.entity.Role">
		INSERT INTO smbms.smbms_role
		(roleCode, roleName, createdBy, creationDate)
		VALUES(#{roleCode},
		#{roleName}, #{createdBy}, #{creationDate} );
	</insert>
    <!-- 根据id查询角色信息 -->
    <select id="getrolebyid" resultType="com.wxthxy.supermarket.entity.Role">
		SELECT *
		FROM
		smbms.smbms_role WHERE id = #{id}
	</select>
    <!-- 根据id 修改角色信息 -->
    <update id="updateole" parameterType="com.wxthxy.supermarket.entity.Role">
		UPDATE smbms.smbms_role
		SET
		roleName = #{roleName} ,
		roleCode =#{roleCode},
		modifyBy =
		#{modifyBy},
		modifyDate = #{modifyDate}
		WHERE
		id = #{id}
	</update>
    <delete id="deleteRole" parameterType="Integer">
		delete from smbms_role where id=#{id}
	</delete>
</mapper>